= stylesheet_link_tag "offense"
%h2
  Edit Offense
- if @offense.errors
  = error_messages_for @offense

= render partial: "form", locals: { offense: @offense, url: {controller: :offense, action: :update}}
