#offense_list {
    width: 100%;
    float: left;
}
#offense_list table {
    border-collapse: collapse;
    border: #222 6px solid;
    text-align: left;
    width: 100%;
    float: left;
}
#offense_list tr.alternating {
    background-color: #111;
}
#offense_list td, th{
    border: #222 4px solid;
    padding: 4px;
}
#offense_form {
    width: 100%;
    float: left;
}
#offense_form form{
    margin-left: 200px;
}
#offense_form ul {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
#offense_form li {
    margin: 0;
    padding: 2px;
    width: 100px;
    float: left;
}
#offense_form li.left_side {
    text-align: right;
    padding-top: 4px;
}
#offense_form li.right_side {
    text-align: left;
}

#offense_display {
    width: 100%;
    float: left;
}
#offense_display ul {
    width: 100%;
    margin: 10px;
    padding: 0;
    float: left;
    list-style: none;
}
#offense_display li {
    margin: 0;
    padding: 0;
    width: 300px;
    float: left;
}
#offense_display li.left_side {
    text-align: right;
    padding-right: 10px;
}
#offense_display li.right_side {
    text-align: left;
    padding-left: 10px;
}