#homepage
  %p
    This is the homepage, and it will be used to show stats of the database.
    For instance, how many offenders there are and statistics of the different offences.
    It will show how many are fully banned via McBlacklist.
